#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Get package version info.
SOURCE_VERSION := $(shell head -1 debian/changelog | cut -d\( -f2 | cut -d\) -f1)
VERSION := $(shell echo "$(SOURCE_VERSION)" | cut -d- -f1)

# Installation directories
PKGDIR := $(CURDIR)/debian/hfsplus-dkms
DESTDIR := $(PKGDIR)/usr/src/hfsplus-$(VERSION)

override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_clean:

override_dh_auto_install:
	install -d                                        $(DESTDIR)
	install -m 644 -D $(CURDIR)/Makefile              $(DESTDIR)/
	install -m 644 -D $(CURDIR)/*.c                   $(DESTDIR)/
	install -m 644 -D $(CURDIR)/*.h                   $(DESTDIR)/
	install -m 644 -D $(CURDIR)/dkms.conf             $(DESTDIR)/
	install -m 644 -D $(CURDIR)/Kconfig               $(DESTDIR)/
override_dh_dkms:
	dh_dkms -V

%:
	dh $@ --with dkms
